/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

@font-face {
    font-family: 'uni_sansheavy_italic_caps';
    src: url('uni_sans_heavy_italic-webfont.woff2') format('woff2'),
         url('uni_sans_heavy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'uni_sansheavy_caps';
    src: url('uni_sans_heavy-webfont.woff2') format('woff2'),
         url('uni_sans_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'uni_sansthin_italic_caps';
    src: url('uni_sans_thin_italic-webfont.woff2') format('woff2'),
         url('uni_sans_thin_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'uni_sansthin_caps';
    src: url('uni_sans_thin-webfont.woff2') format('woff2'),
         url('uni_sans_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

input[type=submit]:focus {
    outline: none;
    border: none;
}
#restore-button {
    grid-column: 2;
    display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

body {
  font-family: "Segoe UI", sans-serif;
  background: #36393f;
  color: #FFF;
}
h1 {margin: 0 0 10px 0; font-weight: 600; line-height: 1.2;}
p {margin-top: 10px; color: rgba(255,255,255,0.4);}


@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}



/* hand-written code below */

:root{
    --outer-colour: rgb(227,229,232);
    --channel-bar: rgb(242,243,245);
    --bot-bar: rgb(235,237,239);
    --message-bar: rgb(255,255,255);
    --message-input: rgb(235,237,239);
    --user-bar: rgb(242,243,245);
    --channel-top-hover: rgb(232,234,237);
    --line-break: rgb(209,211,215);
    --message-hover: rgb(250,250,250);
    --border-bottom: rgb(208,208,210);
    --title-bar-hover: rgb(218,221,225);
    --icon: rgb(79,86,96);
    --icon-hover: rgb(6,6,7);
    --text-normal: rgb(46, 51, 56);
    --channel-focused: rgb(212,215,220);
    --date-color: rgb(116, 127, 141);
    --hashtag-colour: rgb(116,127,141);
    --online: rgb(67,181,129);
    --idle: rgb(250,166,26);
    --dnd: rgb(240,71,71);
    --offline: rgb(116,127,141);
}

/* ::placeholder {
    text-overflow: ellipsis!important;
} */

body {
    line-height: 1;
    font-family: 'uni_sans_heavy-webfont.woff2', Arial, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    /* border: 0.01px solid transparent;  */
    overflow-y: hidden; 
} 

#titlebar {
    -webkit-app-region: drag;
    color: var(--text-normal);
    display: block;
    position: fixed;
    height: 22px;
    width: 100%; /*Compensate for body 1px border*/
    background: var(--outer-colour);

    /* padding: 4px; */
}

#botname {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(114,118,125,1);
}

#window-controls {
    -webkit-app-region: no-drag;
    display: grid;
    grid-template-columns: repeat(3, 25px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#window-controls .button {
    user-select: none;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22px;
}

#window-controls .button:hover {
    background: var(--title-bar-hover);
    cursor: pointer;
}
#window-controls .button:active {
    background: var(--title-bar-hover);
}

#close-button:hover {
    background: #E81123 !important;
}
#close-button:active {
    background: #F1707A !important;
}
#close-button:active .icon {
    filter: invert(1);
}
  
#min-button {
    grid-column: 1;
}
#max-button {
    /* display: none; */
    grid-column: 2;
}

#close-button {
    grid-column: 3;
}

#titlebar #drag-region {
    -webkit-app-region: drag !important;
    display: grid;
    grid-template-columns: auto 138px;
    /* background-color: red; */ /* For testing purposes to see if it is displaying correctly */
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

#window-title span {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis!important;
    white-space: nowrap;
    line-height: 1.5;
}

#test {
    margin-top: 50px;
    background-color: #E81123;
}

#main {
    height: calc(100% - 32px);
    margin-top: 22px;
    padding: 20px;
    overflow-y: auto;
}

#overallcontainer {
    background-color: var(--outer-colour);
    width: 100%;
    height: 100%;
    /* margin-top: 22px; */
    display: flex;
    /* overflow-y: hidden; */
}

#overallcontainer #serverBar {
    width: 72px !important;
    /* width: 7.659574468%; */
    height: 100%;
    /* height: 2000px; */
    /* overflow: auto; */
    background-color: var(--outer-colour);
}
#overallcontainer #channelBar {
    width: 240px;
    /* width: 25.531914893%; */
    height: 100%;
    background-color: var(--outer-colour);
}
#overallcontainer #messageBar {
    /* min-width: 372px; */
    /* width: 42.127659574%; */
    width: calc(100% - 544px);
    height: 100%;
    overflow-y: auto;
    background-color: var(--message-bar);
}
#overallcontainer #userBar {
    /* overflow-y: scroll!important; */
    overflow-x: hidden;
    width: 232px;
    /* width: 24.680851063%; */
    height: 100%;
    background-color: var(--user-bar);
}

#memberContainer {
    overflow-y: scroll!important;
    margin-top:70px;
    height: calc(100% - 70px);
}

.fixed-top {
    margin-top: 22px;
    height: 48px;
    /* width: 100%; */
    position: fixed;
    /* box-shadow: 1px 0px 18px #888888; */
    border-bottom: 0.6px solid var(--border-bottom);

}

#channelTop {
    border-top-left-radius: 10px;
    background-color: var(--channel-bar);
    width: 240px;
    /* box-shadow: 0px 0px 18px 2px #232427; */
}

#channelTop:hover {
    background-color: var(--channel-top-hover);
    cursor: pointer;
}

#messageTop {
    background-color: var(--message-bar);
    width: calc(100% - 312px);
    /* box-shadow: 10px 0px 18px 2px #232427; */
}

#serverContainer::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#serverContainer {
    margin-top: 22px;
    height: calc(100% - 22px);
    overflow-x: hidden;
    overflow-y: auto;
}

#serverArea {
    /* background-image: linear-gradient(purple, pink); */
    align-items: center;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    text-align: center;
}

#channelContainer {
    margin-top: 70px;
    height: calc(100% - 122px);
    overflow-y: auto;
    background-color: var(--channel-bar);
}

#channelArea {
    /* background-image: linear-gradient(green, blue); */
    /* height: 10000px; */
    background-color: var(--channel-bar);
}

#messageContainer {
    margin-top: 70px;
    height: calc(100% - 140px);
    overflow-y: auto;
}

#messageArea {
    font-weight: 400;
    font-family: "Segoe UI", sans-serif;
    color: #dcddde;
    overflow-x: hidden;
    /* background-image: linear-gradient(red, yellow); */
    /* height: 10000px; */
}

#serverArea img {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border-radius: 50%;
    margin-top: 10px;
    transition: border-radius 0.3s;
    background-color: transparent;
}

#serverArea img:hover {
    border-radius: 35%;
    cursor: pointer;
    background-color: transparent;
}

.no-server-icon {
    height: 50px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-right: 10px;
    padding-left: 10px;
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: white;
    color: var(--text-normal);
    text-align: center;
    font-size: 24px;
    transition: border-radius 0.3s;
    -webkit-user-select: none;
}

.no-server-icon:hover {
    border-radius: 35%;
    background-color: rgba(114,137,218,1);
    cursor: pointer;
    color: white;
}

#discordServerBar {
    margin-top: 0px !important;
}

#lineBreak {
    height: 2px;
    border-radius: 5px;
    padding: 2px;
    width: 50px;
    background-color: var(--line-break);
    margin-top: 10px;
}

.category {
    color: #8e9297;
    display: flex;
    flex-direction: column;
    padding: 2px; /* Was 10px */
    user-select: none;
    margin-top: 20px !important;
}

.category i {
    padding-right: 5px;
    display: inline-block;
}

.category .categoryArrow {
    float: left;
}

.category div {
    /* padding-top: 5px; Was 10px
    padding-left: 15px; Was 15px */
    padding: 7px 0px 7px 15px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    transition: display 2s;
    vertical-align: middle;
}

.category .categoryH1 {
    margin: 0px !important;
    margin-bottom: 5px !important;
    font-size: 12px !important;
}

.category h1 {
    padding-left: 5px;
    margin: 0px !important;
}

.category .categoryH1:hover {
    color: var(--text-normal);
    cursor: pointer;
}

.category div:hover {
    /* color: #FFFFFF; */
    /* color: var(--text-normal); */
    /* background-color: rgba(52,55,60,1); */
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--channel-top-hover);
}

.category div:hover span {
    color: var(--text-normal);
}

.chanel_hashtag {
    color: var(--hashtag-colour)!important;
    font-size: 1em!important;
}

.channel_name {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis!important;
}

/* .category i:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.category h1:hover {
    color: #FFFFFF;
    cursor:pointer;
} */

/* width */
::-webkit-scrollbar {
    border-radius: 15%;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.hide {
    display: none !important;
}

/* #<#644746838628499466> */

.focused {
    background-color: var(--channel-focused) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    /* cursor: pointer; */
}
.focused i {
    color: var(--hashtag-colour)!important;
}

.focused:hover {
    color: var(--text-normal) !important;
    background-color: var(--channel-focused) !important;
}

#messageArea div {
    padding: 15px 25px 15px 25px;
    color: var(--text-normal);
}

/* #messageArea div:hover{
    background-color: var(--message-hover);
} */

#messageArea img {
    max-height: 500px;
    max-width: 500px;
}

#messageArea .userPFP {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#messageArea .userPFP:hover {
    cursor: pointer;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.08));
}

.messages div {
    padding: 0px;
}

.messages {padding: 0px!important;margin-bottom: 15px!important;}

.messages:hover{
    background-color: var(--message-hover);
}

.user_left {
    vertical-align: top;
    display:inline-block;
    padding:0px!important;
    width: 60px;
    height: 50px;
}

.addition_left {
    vertical-align: top;
    display:inline-block;
    padding:0px!important;
    width: 60px;
    height: 10px;
}

.user_right {
    display:inline-block;
    width: calc(100% - 60px);
    padding:0px 0px 0px 0px !important;
}

.user_icon {
    padding:5px!important;
    padding-left: 15px!important;
    height: 100%;
    width: 50px;
}

.user_and_time {
    padding: 3px !important;
    display:block;
}

.user_and_time .messageUser:hover {
    cursor: pointer;
}

.user_and_time span {
    padding: 5px 0px 0px 0px!important;
    margin:5px;
}

.user_and_time .messageTime {
    font-size: 12px;
    color: var(--date-color);
}

.user_and_time .messageTime:hover {
    cursor:default;
}

.user_content {
    display:block;
    padding: 5px 25px 2px 10px !important;
}

#messageBox {
    min-height: 45px;
    max-height: 50%;
    /* background-color: red; */
    width: calc(100% - 544px);
    position: fixed;
    padding-bottom: 25px;
}

#messageBox {
    display:flex;
    background-color:var(--message-input);
    color: black;
    /* padding: 6px; */
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    width: calc(100% - 594px);
    /* margin: 25px;
    margin-bottom: 40px; */
    margin: 5px 25px 25px 25px;
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 3px;
}

#message_left {
    padding: 15px 0px 0px 12px;
    display:flex;
    /* background-color: red; */
    /* width: 10%; */
    height: 100%;
}

#message_input {
    display:flex;
    /* background-color: green; */
    width: calc(100% - 60px);
    height: 100%;
}

#message_input textarea {
    padding-top: 12px;
    font-size: 17px;
    padding: 10px;
    height: 100%;
    resize: none;
    width: 100%;
    max-width: 100%;
    border: none;
    background-color: var(--message-input);
    color: var(--text-normal);
    overflow-y: hidden;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#message_right {
    padding-top: 10px;
    display:flex;
    /* background-color: blue; */
    /* width: 80px; */
    height: 100%;
}

/* i {
    color: var(--icon);
} */
i:hover {
    /* color: var(--icon-hover); */
    cursor: pointer;
}

#message_right div {
    padding: 5px;
}

#message_right div:hover {
    cursor: pointer;
}

#message_right div i {
    width: 30px;
    /* height: 30px; */
}

#attach {
    color: var(--icon);
}

#gift {
    color: var(--icon);
}

#gif {
    color: var(--icon);
}

#attach:hover {
    color: var(--icon-hover);
}

#gift:hover {
    color: var(--icon-hover);
}

#gif:hover {
    color: var(--icon-hover);
}

#emoji {
    filter: grayscale(100%);
    height:22px;
    width:22px;
    background-image: url("Images/Icons/emojis.png");
}
#emoji:hover {
    filter: none;
}

::placeholder {
    color: #72767d;
}

#message_box:focus {
    outline: none;
    border: none;
}

.serverFocused {
    border-radius: 35% !important;
    background-color: rgba(114,137,218,1);
}

span {
    white-space: pre-wrap;
    word-wrap: break-word;
    /* width */
}

#botArea {
    position: fixed;
    height: 52px;
    width: 240px;
    background-color:var(--bot-bar);
}

canvas {
    margin-top: 70px;
}

.hideThis {
    display: none !important;
}

#memberArea {
    overflow-x: hidden;
    cursor: default!important;
}

.member_PFP {
    width: 35px;
    height:35px;
    border-radius: 50%;
}

.member {
    padding:5px 5px 0px 5px;
}

.member:hover {
    background-color:var(--channel-top-hover);
    cursor: pointer!important;
    border-radius: 5px;
}

.member_left {
    width: 50px;
    display: inline-block;
}

.inner_left {
    display: flex;
    flex-flow: row nowrap;
}

.inner_left .member_PFP,
.inner_left .member_status {
    /* width:100%; */
    flex:none;
}

.member_right {
    width: 159px;
    display: inline-block;
    vertical-align: top;
}

#online {
    padding:5px;
}

#online_name {
    padding: 15px;
    font-size: 15px;
    font-weight: 700!important;
}

.role_name {
    padding: 15px;
    font-size: 15px;
    font-weight: 700!important;
}

.member_status {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid var(--user-bar);
    margin-left: -30%;
    margin-top: 45%;
}

.online {
    background-color: var(--online);
}

.idle {
    background-color: var(--idle);
}

.dnd {
    background-color: var(--dnd);
}

.offline {
    background-color: var(--offline);
}
